package components

templ LinkButton(url string, text string) {
	<a href={ templ.URL(url) } class="group flex w-full">
		<button
			class="btn text-white bg-indigo-500 w-full rounded-lg px-5 py-2.5 text-center font-medium transition-all hover:bg-indigo-600 hover:shadow-md dark:bg-indigo-700 dark:hover:bg-indigo-800 hover:cursor-pointer"
		>
			{ text }
		</button>
	</a>
}



