

  .link-box {
      color: black;
      font-size: 4em;
  }

  .highlight {
    margin: unset;
  }

  .contact a {
    color: #FD6631;
  }
  
  .experience a {
    color: #DB49D8;
  }
  
  .talks a {
    color: #19BD03;
  }
  
  .writing a {
    color: #1B9AF7;
  }
  
  .copyright {
    opacity: .75;
    font-style: italic;
    text-align: center;
  }