.link-box {
  color: black;
  font-size: 4em;
}

.highlight {
  margin: unset;
}

.experience a {
  color: #ad51e8;
}

.writing a {
  color: #1B9AF7;
}

.contact a {
  color: #19BD03;
}

.copyright {
  opacity: .75;
  font-style: italic;
  text-align: center;
}