@import "tailwindcss";

@source "../../views/**/*.templ";

@variant dark (&:is(.dark *));

@layer utilities {
  @-webkit-keyframes grow {
    0% {
      opacity: 0.85;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }

    to {
      opacity: 1;
      -webkit-transform: translate(1);
      transform: translate(1);
    }
  }

  @-moz-keyframes grow {
    0% {
      opacity: 0.85;
      -moz-transform: scale(0.5);
      transform: scale(0.5);
    }

    to {
      opacity: 1;
      -moz-transform: translate(1);
      transform: translate(1);
    }
  }

  @-o-keyframes grow {
    0% {
      opacity: 0.85;
      -o-transform: scale(0.5);
      transform: scale(0.5);
    }

    to {
      opacity: 1;
      -o-transform: translate(1);
      transform: translate(1);
    }
  }

  @keyframes grow {
    0% {
      opacity: 0.85;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9);
    }

    to {
      opacity: 1;
      -webkit-transform: translate(1);
      -moz-transform: translate(1);
      -o-transform: translate(1);
      transform: translate(1);
    }
  }
  .animate-surfaced {
    -webkit-animation: grow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-animation: grow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -o-animation: grow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    animation: grow 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .transition-grid-template {
    transition-property: grid-template-columns, grid-template-rows;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }

  .masonry-grid {
    columns: 1;
    column-gap: 1.25rem;
  }

  @media (min-width: 768px) {
    .masonry-grid {
      columns: 2;
    }
  }

  @supports not (display: masonry) {
    .masonry-grid > * {
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
      page-break-inside: avoid;
      display: inline-block;
      width: 100%;
    }
  }

  @supports (display: masonry) {
    .masonry-grid {
      display: masonry;
      masonry-direction: column;
      grid-template-columns: repeat(1, 1fr);
      transition-property: grid-template-columns;
      transition-duration: 200ms;
      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      columns: unset;
    }
    @media (min-width: 768px) {
      .masonry-grid {
        grid-template-columns: repeat(2, 1fr);
      }

      .masonry-grid .masonry-item--hero,
      .masonry-grid .masonry-item--info {
        grid-column: 1;
      }

      .masonry-grid .masonry-item--skills {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .transition-grid-template {
      transition-duration: 0ms;
      transition-property: none;
    }

    @supports (display: masonry) {
      .masonry-grid {
        transition-duration: 0ms;
        transition-property: none;
      }
    }
  }
}
