@import "tailwindcss";

@source "../../views/**/*.templ";

@variant dark (&:is(.dark *));

@layer base {
  [x-cloak] {
    display: none !important;
  }
}

@layer utilities {
  @supports (display: masonry) {
    .masonry-grid {
      display: masonry;
      masonry-direction: column;
    }

    @media (min-width: 768px) {
      .masonry-grid .masonry-item--hero {
        grid-column: 1;
      }

      .masonry-grid .masonry-item--info {
        grid-column: 2;
      }

      .masonry-grid .masonry-item--skills {
        grid-column: 2;
      }
    }
  }
}
