<!DOCTYPE html>
<html lang="{{ site.lang | default: ' en-US'  }}" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNRCVXM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
      <h1>
        <a href="{{ '/' | absolute_url }}">{{ site.author }}</a>
      </h1>

      {% if page.title == "Home" %}

      <div class="top-intro intro">
        <p>I care a lot about queer and disabled people! 🏳️‍🌈 I am a passionate advocate and aspiring activist for LGBT+ and
          disability inclusion in the tech community!</p>
      </div>
      <header>


        {% if site.logo %}
        <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <div class="intro">
          <p>I am a Computer Science & Mathematics student <a href="http://rutgers.edu">@Rutgers</a>, and Software
            Engineering Intern <a href="https://slack.com">@Slack</a>. Previously I was a Software Engineer Intern <a
              href="https://tumblr.com/">@Tumblr</a> and a mentee <a href="https://outintech.com">@OutInTech</a>. I
            also worked as a Teaching Assistant <a href="https://bootcamp.sas.upenn.edu/">@UPenn</a>.
        </div>

      </header>

      {% endif %}

      <section>

        {{ content }}

      </section>

      {% include foot.html %}

    </div>
  </body>

</html>
