<!DOCTYPE html>
<html lang="{{ site.lang | default: ' en-US'  }}" prefix="og: http://ogp.me/ns#">
{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNRCVXM" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="wrapper">
    <h1>
      <a href="{{ '/' | absolute_url }}">{{ site.author }}</a>
    </h1>

    {% if page.title == "Home" %}

    <header>

      {% if site.logo %}
      <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
      {% endif %}

    </header>

    <div class="intro">
        {{ site.description }}
    </div>

    {% endif %}

    <section>

      {{ content }}

    </section>

    {% include foot.html %}

  </div>
</body>

</html>