---
layout: default_wrapper
---

<div class="top-intro intro">
    <p>I care a lot about queer people! 🏳️‍🌈 I am a passionate advocate and aspiring activist for LGBT+ and disability inclusion in the tech community!</p>
    </div>
    <header>

    {% if page.title != "Home" %} {% endif %} 
    {% if site.logo %}
    <img class="logo" src="{{site.logo | relative_url}}" alt="Logo"/> 
    {% endif %}

    <div class="intro">
        <p>I am a Computer Science & Mathematics student <a href="http://rutgers.edu">@Rutgers</a>, and future Software Engineering Intern <a href="https://slack.com">@Slack</a>. Previously I was a Software Engineer Intern <a href="https://tumblr.com/">@Tumblr</a> and a mentee <a href="https://outintech.com">@OutInTech</a>. I also worked as a Teaching Assistant <a href="https://bootcamp.sas.upenn.edu/">@UPenn</a>.
    </div>

</header>

<section>

    {{ content }}

  </section>